<div class="container mithila">

    <div class="my-5">

        <div>
            <h1>Who is the Rambler?</h1>
            <p>A group of individuals who share a love of cycling and the outdoors.
                We will always stop for a photo, or to hit a jump. Rubber side up!

                We believe the outdoors should be respected. Please, pack it in and pack it out.
                Leave it better, even. Remember, we’re all ambassadors for cycling, so be polite
                on the road and the trails and observe the leave no trace principles.</p>
        </div>

        <hr class="bg-danger border-2 border-top border-danger">





    </div>

</div>